<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>타임리프 익히기</h1>
<!-- LocalData를 yyyy-mm-dd 포멧으로 변경 -->
<p th:text="${#temporals.format(today, 'yyyy-MM-dd')}"></p>
<div th:object="${Person}"><!-- person을 위한 객체로 지정 -->
    <p th:text="|이름 : *{name}|"></p>
    <p th:text="|나이 : *{age}|"></p>
    <p>취미</p>
    <ul th:each="hobby : *{hobbies}"><!-- hobbies개수 만큼반복 -->
        <li th:text="${hobby}"></li>
        <!-- 반복대상이 운동이라면 '대표 취미' 라는 표시 추가 -->
        <span th:if="${hobby == '운동'}">(대표 취미)</span>
    </ul>
<!-- 1번 블로그 글을보러 이동 -->
</div>
<a th:href="@{/api/articles/{id}(id=${Person.id})}">글 보기</a>
</body>
</html>